.App {
  text-align: center;
  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
}

.box{
 display: inline-block;
 background-color:  #ccc;
}

.parent-block {
  position: relative;
  height: 600px;
  overflow: scroll;
}

.childA-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mainQuestion {
  font-weight: bold;
  color: red;
  font-size: 65px;
  position: relative;
  display: inline-block;
}

.kanpaiImg {
  width: 60px;
}

.selectButton {
  font-size: 50px;
  margin-top: 10px;
  margin: 20px;
  border-radius: 40px;
}

.namelabel {
  font-size: 30px;
}

.nameInput {
  width: 600px;
  font-size: 30px;
  margin: 10px;
}

.postButton {
  border-radius: 20px;
  font-size: 25px;
}

.imgData {
  width: 500px;
  margin-right: 10px;
}

.questionTitle {
  font-size: 25px;
  font-weight: bold;
}
